body {
    font-family: "Open Sans";
    color: #fff;
}

.padding-alignment {
    padding: 0;
}

.header-section .container-fluid {
    background-image: url("../images/345.jpg");
    background-size: cover;
    padding: 0;
}

.hero {
    min-height: 106vh;
    background-color: rgba(00, 00, 00, 0.80);
}

.hero .hero-caption {
    padding-top: 20vh;
    text-align: center;
}

.navbar-default {
    padding-top: 25px;
    background: none;
    border: none;
}

.navbar-default .navbar-nav li {
    margin: 0 15px;

}

.navbar-default .navbar-nav li a {
    font-weight: 700;
    color: #fff;
}

.navbar-default .navbar-nav li a:focus,
.navbar-default .navbar-nav li a:hover {
    color: #7EC0EE;
}

/*Button Back*/
#button {
    z-index: 1000;
    width: 55px;
    height: 55px;
    right: 30px;
    bottom: 27px;
    border-radius: 4px;
    transition: background-color .3s,
        opacity .5s, visibility .5s;
    opacity: 0;
    text-decoration: none;
    border-radius: 50%;
    display: inline-block;
    background-color: #7EC0EE;
    text-align: center;
    position: fixed;
    visibility: hidden;
}

#button::after {
    content: "\f0a6";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    color: #fff;
    font-size: 2em;
    line-height: 50px;
}

#button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.7s;
}

#button:active {
    background-color: #7EC0EE;
}

#button.show {
    opacity: 1;
    visibility: visible;
}

/*Button Back*/
.hero-heading {
    max-width: 1200px;
    color: #fff;
    margin: 0 auto;
}

.hero-heading h1 {
    overlflow: hidden;
    font-size: 65px;
    font-weight: 700;
    margin: 0 2%;
    text-transform: uppercase;
}

.hero-heading p {
    margin-top: 5vh;
    font-size: 22px;
    margin: 2vh 10%;
}

.btn-basic {
    text-transform: uppercase;
    margin-top: 5vh;
    color: white;
    background-color: #7EC0EE;
    border: 1px solid #7EC0EE;
    font-size: 13px;
    padding: 15px 30px;
    border-radius: 2%;
    transition: all 0.5s;
}

.btn-basic:focus,
.btn-basic:hover {
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
    transition: all 0.5s;
}

.features-section {
    padding-top: 8vh;
    padding-bottom: 8vh;
}

.features-section img {
    background-color: #7EC0EE;
    border-radius: 50%;
}

i.benefits-fa {
    font-size: 40px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    color: #FFFFFF;
    background-color: #7EC0EE;
    border-radius: 50%;
}

i.benefits-fa:hover {
    background-color: #fff;
    color: #7EC0EE;
    cursor: pointer;
    transition: 0.7s;
}

.features-section h6 {
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    padding: 10px;
}

.features-section p {
    color: #6c7279;
}

.features-section .feature {
    padding-top: 3vh;
    padding-bottom: 3vh;
}

@media screen and (max-width: 970px) {
    .hero-heading h1 {
        font-size: 50px;
    }

    .hero-heading p {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    .hero {
        height: 100vh;
    }

    .hero-heading h1 {
        font-size: 34px;
    }

    .hero-heading p {
        font-size: 14px;
    }

    .team-section h4 {
        text-align: center;
    }

    .team-section h6 {
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .hero-heading h1 {
        font-size: 24px;
    }

    .footer-section .col-md-4 {
        padding-top: 5%;
    }
}

@media (max-height: 650px) {
    .hero {
        height: 100vh;
    }
}

.gallery-section .gallery-div {
    position: relative;
    padding: 1px;
    cursor: pointer;
}

.gallery-section .gallery-div:hover .overlay {
    opacity: 0.9;
}

.gallery-section .gallery-image {
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: #7EC0EE;
    transition: 0.7s;
}

.middle {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    color: #fff;
}

.middle h5 {
    text-transform: uppercase;
}

.middle p {
    text-align: justify;
    padding: 20px;
}

.figures .container {
    width: 100%;
    padding: 20px;
    margin-top: 30px;
    text-align: center;
    background-color: rgba(00, 00, 00, 0.80);
}

.figures p {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}

.figures span {
    color: #7EC0EE;
    font-size: 40px;
}

.team-section {
    padding-top: 14vh;
    padding-bottom: 14vh;
}

.team-section img {
    padding-bottom: 1vh;
    padding-top: 3vh;
    margin: 0 auto;
    border-radius: 50%;
}

.team-section h4 {
    font-size: 22px;
    font-weight: 400;
    color: #000;
    text-align: center;
}

.team-section h6 {
    color: #000;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.team-section p {
    color: #6c7279;
    font-size: 14px;
    text-align: justify;
}

.team-section .social-button {
    border: 1px solid #7EC0EE;
    left: 25%;
    position: relative;
}

.team-section .social-button i {
    border: 1px solid #7EC0EE;
    color: #7EC0EE;
    border: none;
}

.team-section .social-button i:hover {
    border: none;
}

.social-button {
    margin-top: 20px;
    width: 40px;
    height: 40px;
    background: none;
    border: 1px solid #c6cacc;
}

.social-button i {
    font-size: 20px;
    color: #c6cacc;
}

.social-button:active {
    background: #e84545;
}

.social-button:active i {
    color: #fff;
}

.carousel-section .carousel-indicators li {
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
}

.carousel-section .carousel-indicators .active {
    background-color: white;
}

.carousel-section .carousel-inner img {
    width: 100%;
    min-height: 480px;
    max-height: 480px;
}

.carousel-section .carousel-image {
    width: 100%;
    max-height: 480px;
}

.carousel-section .carousel-caption {
    width: 460px;
    height: 380px;

}

.carousel-section .carousel-caption h3 {
    font-size: 30px;
    font-style: italic;
    font-family: "Cardo";
    line-height: 40px;
    font-weight: 100;
    text-align: left;
    text-align: justify;
    text-shadow: 1px 1px 1px black;
}

.carousel-section .carousel-caption h6 {
    text-align: left;
    text-shadow: 1px 1px 1px black;
}

@media screen and (min-width: 990px) and (max-width: 1400px) {
    .carousel-section .carousel-caption {
        padding-bottom: 5%;
    }

    .carousel-section .carousel-caption h3 {
        font-size: 20px;
    }

    .carousel-section .carousel-caption h6 {
        font-size: 14px;
    }
}

@media screen and (min-width: 0) and (max-width: 700px) {
    .carousel-section .carousel-caption {
        padding-bottom: 10%;
    }

    .carousel-section .carousel-caption h3 {
        font-size: 20px;
        line-height: 20px;
    }

    .carousel-section .carousel-caption h6 {
        font-size: 14px;
        line-height: 14px;
    }
}

.download-section {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.download-section h1 {
    font-size: 28px;
    font-weight: 300;
}

.download-section h4 {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.download-section .btn-basic {
    margin-top: 2vh;
}

.footer-section {
    padding-top: 6vh;
    padding-bottom: 8vh;
    background-color: #fff;
    color: #000;
}

.footer-section .social-button {
    color: #000;
    background: none;
    border: 1px solid #7EC0EE;
    margin-top: 1vh;
}

.footer-section .social-button i {
    color: #7EC0EE;
}

.footer-section p {
    color: #6c7279;
    font-weight: 100;
}

.footer-section h4 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

/*Social Buttons*/
.social-button {
    margin-top: 20px;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    background: none;
    transition: all 0.5s;
    border-radius: 50%;
}

.social-button i {
    font-size: 20px;
    color: #000;
    transition: all 0.5s;
}

.social-button:hover {
    background: #7EC0EE;
    transition: all 0.5s;
    border: #fff;
}

.social-button:hover i {
    color: #fff;
    transition: all 0.5s;
}

/*Social Buttons*/
footer {
    background-color: rgba(00, 00, 00, 0.80);
    padding: 20px 0 15px 0;
}

footer p {
    color: #808080;
}

footer p a {
    text-decoration: none;
    color: #fff;
}

footer p a:hover {
    color: #7EC0EE;
    text-decoration: none;
    cursor: pointer;
}

# sourceMappingURL=style.css.map
